<div class="container-fluid signFormContainer">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-6 col-md-4">
        <form class="form-container">
        <div class="form-group">
          <h4 class="text-center font-weight-bold"> Register </h4>
          <label for="inputEmail">Email</label>
           <input type="email" class="form-control" id="inputEmail" placeholder="Enter valid email">
        </div>
        <div class="form-group">
            <label for="inputCompanyName">Company name</label>
             <input type="text" class="form-control" id="inputCompanyName" placeholder="Enter company name">
        </div>
        <div class="form-group">
            <label for="inputAddress">Company address</label>
             <input type="text" class="form-control" id="inputAddress" placeholder="Enter company address">
        </div>
        <div class="form-group">
            <label for="inputRegnum">Registration number</label>
             <input type="text" class="form-control" id="inputRegnum" placeholder="Enter valid registration number">
        </div>
        <!-- <div class="form-group">
            <label for="inputEmail">Company Logo</label>
             <input type="text" class="form-control" id="inputCompany" placeholder="Enter company name">
          </div> -->
        <div class="form-group">
          <label for="inputPassword">Password</label>
          <input type="password" class="form-control" id="inputPassword" placeholder="Password">
        </div>
        <div class="form-group">
            <label for="inputPassword2">Confirm password</label>
            <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm password">
          </div>
        <button type="Register" class="btn btn-green">Register</button>
        </form>
      </div>
    </div>
  </div>