<div class="container-fluid signFormContainer">
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 col-md-4">
      <form class="form-container" [formGroup]="form" (ngSubmit)="register()">
        <div class="form-group">
          <h4 class="text-center font-weight-bold">Register</h4>
          <label for="inputEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="inputEmail"
            name="inputEmail"
            placeholder="Enter valid email"
            formControlName="email"
          />
          <ng-container *ngIf="form.get('email')?.touched">
            <p
              class="text-danger"
              *ngIf="form.get('email')?.errors?.['required']"
            >
              Email is required!
            </p>
            <p class="text-danger" *ngIf="form.get('email')?.errors?.['email']">
              Email is not valid!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="inputCompanyName">Company name</label>
          <input
            type="text"
            class="form-control"
            id="inputCompanyName"
            name="inputCompanyName"
            placeholder="Enter company name"
            formControlName="companyName"
          />
          <ng-container *ngIf="form.get('companyName')?.touched">
            <p
              class="text-danger"
              *ngIf="form.get('companyName')?.errors?.['required']"
            >
              Company name is required!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="inputPhone">Phone number</label>
          <input
            type="text"
            class="form-control"
            id="inputPhone"
            placeholder="Enter valid phone number"
            formControlName="phoneNumber"
          />
          <ng-container *ngIf="form.get('phone')?.touched">
            <p
              class="text-danger"
              *ngIf="form.get('phone')?.errors?.['required']"
            >
              Phone is required!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="inputAddress">Company address</label>
          <input
            type="text"
            class="form-control"
            id="inputAddress"
            placeholder="Enter company address"
            formControlName="address"
          />
        </div>
        <div class="form-group">
          <label for="inputRegnum">Registration number</label>
          <input
            type="text"
            class="form-control"
            id="inputRegNum"
            placeholder="Enter valid registration number"
            formControlName="regNum"
          />
          <ng-container *ngIf="form.get('regNum')?.touched">
            <p
              class="text-danger"
              *ngIf="form.get('regNum')?.errors?.['required']"
            >
              Registration number is required!
            </p>
          </ng-container>
        </div>
        <div class="form-group">
          <label for="inputLogo">Company Logo</label>
          <input
            type="file"
            class="form-control bg-white"
            name="inputLogo"
            accept="image/*"
          />
        </div>
        <ng-container formGroupName="passwordGroup">
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword"
              placeholder="Password"
              formControlName="password"
            />
          </div>
          <div class="form-group">
            <label for="inputPassword2">Confirm password</label>
            <input
              type="password"
              class="form-control"
              id="inputPassword2"
              placeholder="Confirm password"
              formControlName="password2"
            />
          </div>
          <ng-container *ngIf="passGroup?.get('password2')?.touched">
            <p
              class="text-danger"
              *ngIf="passGroup?.errors?.['matchPasswordsValidator'] || 
              passGroup?.get('passwordGroup')?.errors?.['required']"
            >
              Passwords do not match!
            </p>
          </ng-container>
        </ng-container>
        <button
          [disabled]="form.invalid"
          [style]="{ backgroundColor: form.invalid ? 'grey' : '#00B074' }"
          class="btn btn-green"
        >
          Register
        </button>
        <div class="form-footer">
          <p>Have an account? <a routerLink="/login">Login</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
