<app-main-carousel />
<app-search-bar/>
<app-categories-list/>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="row g-0 about-bg rounded overflow-hidden">
                    <div class="col-6 text-start">
                        <img class="img-fluid w-100" src="../../../assets/img/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid" src="../../../assets/img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid" src="../../../assets/img/about-3.jpg" style="width: 85%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid w-100" src="../../../assets/img/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="mb-4">We help to get the best job and find a talent</h1>
                <p class="mb-4">HireMe is an ever-changing workplace, striving to innovate by bringing employers and candidates together. We are dedicated to improving our clients’ lives as well as our own employees.</p>
                <p><i class="fa fa-check text-green me-3"></i><b>We want</b> To make HireMe a space where you’re safe, heard, and know that you belong.</p>
                <p><i class="fa fa-check text-green me-3"></i><b>We will</b> Keep taking substantial action to attract, nurture, and develop a more diverse workforce.</p>
                <p><i class="fa fa-check text-green me-3"></i><b>We know</b> This requires a lot of candid, consultative conversations. And we need you on board.</p>
                <a class="btn btn-green py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div>