.home-anchor-container{
    display: block;
    text-align: center;
    padding: 40px 0;
    border: 1px solid transparent;
    border-radius: 2px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-anchor-container:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}
.home-anchor-container i{font-size: 1.5rem;}
.home-anchor-container h4{margin: 0 15px;;}