.btn-green, .btn-green:visited,.btn-green:link{background-color: #08994c; color:white; font-weight: 500;}
.btn-green:hover {background-color: #4cb484;}
.bg-green { background-color: #00B074; }
.text-green { color: #00B074; }
a {
    color: #00B074;
    text-decoration: none;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    color: #2B3940;
}
.signFormContainer{
	background: #393a3d;
	padding: 20vh 0;	
}
.signFormContainer form{
    background: #fff;
}
.signFormContainer .form-container{
    border-radius: 20px;
    padding: 40px;
}
.signFormContainer .form-group{
    margin-bottom: 20px;
}
.signFormContainer .form-footer{
    margin-top: 10px;
}
form .btn-green, form .btn-green:visited, form .btn-green:link{
    margin: 0 auto;
    display: block;
    width: 70%;
}
.signFormContainer .form-footer{
    text-align: center;
}